<app-navbar></app-navbar>
<div class="principal col-10">
    <div class="row mb-0">
        <div class="buscador col-6">
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Buscar ingrediente.." [(ngModel)]="search" name="search">
            </form>
        </div>
    </div>

    <div *ngIf="!mostrarIngredienteEliminados">
        <div class="agregarIngrediente mb-2">
            <button type="button" class="btn btn-info" (click)="agregarIngrediente()">
                <strong>Agregar Ingrediente</strong>
                <img src="../../../assets/icons-ingrediente.png" alt="Icono" width="30" height="30">
            </button>
            <button type="button" class="btn btn-warning mx-1" (click)="mostrarEliminados()">
                <strong>Restaurar Ingrediente</strong>
                <img src="../../../assets/icons-restaurar.png" alt="Icono" width="30" height="30">
            </button>
        </div>

        <div *ngIf="!ingredientes?.length" class="no-hay">NO HAY INGREDIENTES!</div>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th class="col-3">Nombre</th>
                    <th class="col-1">Cantidad</th>
                    <th class="col-1">Unidad de Medida</th>
                    <th class="col-2 text-center ">Precio</th>
                    <th class="col-4 text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let ingrediente of ingredientes | filter: search">
                    <tr [ngClass]="{'seleccionado': ingrediente === ingredienteOpcion}"
                        *ngIf="ingrediente.estado !== 'eliminado'">
                        <td class="col-3 td-style" (click)="verOpciones(ingrediente)" style="cursor: pointer">
                            {{ ingrediente.nombre }}</td>
                        <td class="col-1 text-center td-style" (click)="verOpciones(ingrediente)"
                            style="cursor: pointer">
                            {{ ingrediente.cantidad }}
                        </td>
                        <td class="col-1 text-center td-style" (click)="verOpciones(ingrediente)"
                            style="cursor: pointer">
                            {{ ingrediente.unidadMedida }}
                        </td>
                        <td class="col-2 text-center td-style" (click)="verOpciones(ingrediente)"
                            style="cursor: pointer">
                            <strong> $ {{ ingrediente.precio }}</strong>
                        </td>
                        <td class="col-4 text-center td-style" *ngIf="ingrediente !== ingredienteOpcion">
                            <button type="button" class="btn btn-success" (click)="verOpciones(ingrediente)">
                                VER
                            </button>
                        </td>
                        <td class="col-4" *ngIf="ingrediente === ingredienteOpcion">
                            <button type="button" class="btn btn-primary "
                                (click)="seleccionarIngrediente(ingrediente)">
                                Editar
                                <img src="../../../assets/icons-editar.png" alt="Icono" width="30" height="30">
                            </button>
                            <button type="button" class="btn btn-secondary mx-1 " (click)="editarPrecio(ingrediente)">
                                Cambiar Precio
                                <img src="../../../assets/icons-precio.png" alt="Icono" width="30" height="30">
                            </button>
                            <button type="button" class="btn btn-danger" (click)="eliminarIngrediente(ingrediente)">
                                Eliminar
                                <img src="../../../assets/icons-eliminar.png" alt="Icono" width="30" height="30">
                            </button>
                        </td>

                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div *ngIf="mostrarIngredienteEliminados">
        <app-restaurar-ingrediente [show]="mostrarIngredienteEliminados" (showChanged)="onShowChanged($event)"
            [search]="search"></app-restaurar-ingrediente>
    </div>


</div>

<app-modal *ngIf="modalService.getModalVisiblePrecio()" [parametrosModal]="parametros"></app-modal>
<app-toast [message]="mensajeToast" [show]="mostrarToastFlag" [type]="tipoToast"></app-toast>

<div class="modal" [ngClass]="{'modal-visible': modalEliminar }" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="../../../assets/icons-pregunta.png" alt="Icono" width="50" height="50">
                    <p>Desea eliminar el ingrediente: {{ingredienteEliminar.nombre}} ? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="cerrarModal()">No</button>
                    <button type="button" class="btn btn-primary" (click)="confirmarEliminacion()">Si</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" [ngClass]="{'modal-visible': modalExitoEliminar }" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="../../../assets/icons-ok.png" alt="Icono" width="50" height="50">
                </div>
                <div class="modal-footer">
                    <p>Ingrediente eliminado con exito!</p>
                </div>
            </div>
        </div>
    </div>
</div>