<app-navbar></app-navbar>
<div class="principal col-10">

    <div class="d-flex flex-row-center">
        <div class=" margen col-lg-12">
            <div class="row">
                <div class="col-5 d-flex justify-content-center">
                    <label for="producto" class="text-center"><strong>Receta:</strong></label>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <label for="producto" class="text-center"><strong>PRODUCCIÓN</strong></label>
                </div>

            </div>

            <form (submit)="agregarReceta()">
                <div class="row">

                    <div class="form-group col-5">

                        <div class="d-flex justify-content-center">
                            <input type="text" class="form-control" id=" producto" name="producto"
                                placeholder="Ingrese nombre del producto..." [(ngModel)]="producto"
                                #productoNgModel="ngModel" required>
                        </div>
                        <div *ngIf="productoNgModel.invalid && (productoNgModel.dirty || productoNgModel.touched)"
                            class="text-danger">
                            El campo es requerido.
                        </div>
                    </div>
                    <div class="col-6 ">
                        <div class="row">
                            <!-- Campo Cantidad -->
                            <div class="form-group col-6">

                                <input type="number" class="form-control" id="cantidad" name="cantidad"
                                    [(ngModel)]="cantidad" required placeholder="Cantidad" appPlaceholderFocus
                                    #cantidadNgModel="ngModel">
                                <!-- Mostrar mensaje de error si el campo es inválido -->
                                <div *ngIf="cantidadNgModel?.invalid && (cantidadNgModel?.dirty || cantidadNgModel?.touched)"
                                    class="text-danger">
                                    La cantidad es requerida.
                                </div>
                            </div>

                            <!-- Campo Unidad de Medida -->
                            <div class="form-group col-5">

                                <select class="form-control" id="unidadMedida" name="unidadMedida"
                                    [(ngModel)]="unidadMedida" appPlaceholderFocus required
                                    #unidadMedidaNgModel="ngModel">
                                    <option *ngFor="let medida of unidadMedidaExistentes" [value]="medida">{{ medida }}
                                    </option>
                                </select>
                                <!-- Mostrar mensaje de error si el campo es inválido -->
                                <div *ngIf="unidadMedidaNgModel?.invalid && (unidadMedidaNgModel?.dirty || unidadMedidaNgModel?.touched)"
                                    class="text-danger">
                                    La unidad de medida es requerida.
                                </div>
                            </div>
                        </div>

                    </div>
                    <app-agregar-ingrediente-receta [opcionBuscarIngredientes]="botonAgregarIngrediente"
                        (ingredientesEnRecetaSend)="onIngredientesSeleccionados($event)"></app-agregar-ingrediente-receta>

                </div>
                <div class="margen-botones mt-5 mb-3">
                    <button type="submit" class="btn btn-primary btn-custom-large mx-2">Agregar</button>
                    <button type="submit" class="btn btn-danger btn-custom-large mx-2" (click)="cancelar()">
                        Cancelar
                    </button>
                </div>
            </form>

        </div>

    </div>

    <!-- Modal -->
    <div class="modal" [ngClass]="{'modal-visible': showModal}" tabindex="-1" role="dialog"
        aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">{{ modalTitle }}</div>
                    <button class="close btn btn-danger" (click)="closeModal()">&times;</button>
                </div>
                <div class="modal-body">
                    {{ modalContent }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal" [ngClass]="{'modal-visible': modalExitoCrear }" tabindex="-1" role="dialog"
        aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="../../../assets/icons-ok.png" alt="Icono" width="50" height="50">
                    </div>
                    <div class="modal-footer">
                        <p>{{ modalContent }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>