<app-navbar></app-navbar>
<div class="principal col-10">

    <div class="d-flex flex-row-center">
        <div class=" margen col-lg-8">
            <form (submit)="agregarReceta()">

                <div class="form-group col-8">
                    <div class="d-flex justify-content-center">
                        <label for="producto" class="text-center"><strong>Receta:</strong></label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="text" class="form-control" id=" producto" name="producto"
                            placeholder="Ingrese nombre del producto..." [(ngModel)]="producto" required>
                    </div>
                </div>
                <div class="col-7 d-flex justify-content-center mt-3">
                    <label for="producto" class="text-center"><strong>PRODUCCIÓN</strong></label>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="cantidad"
                            required placeholder="0" appPlaceholderFocus>
                    </div>
                    <div class="form-group col-5">
                        <label for="unidadMedida">Unidad de Medida:</label>
                        <input type="text" class="form-control" id="unidadMedida" name="unidadMedida"
                            [(ngModel)]="unidadMedida" required>
                    </div>
                </div>
                <app-agregar-ingrediente-receta></app-agregar-ingrediente-receta>
                <div class="d-flex justify-content-end mt-3 mb-3">
                    <button type="submit" class="btn btn-primary btn-custom-large mx-2">Agregar Receta</button>
                    <button type="submit" class="btn btn-danger btn-custom-large mx-2" (click)="cancelar()">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>

    </div>
    <!-- Contenido específico del modal -->
    <app-modal-general [title]="modalTitle" [show]="showModal">

        <p>{{ modalContent }}</p>
        <div modal-footer>
            <button class="btn btn-danger mx-2" (click)="closeModal()">NO</button>
            <button class="btn btn-primary mx-2" (click)="confirmAction()">SI</button>
        </div>
    </app-modal-general>
    <app-toast [message]="mensajeToast" [show]="mostrarToastFlag" [type]="tipoToast"
        [progress]="progressToast"></app-toast>
</div>