<app-navbar></app-navbar>
<div class="principal col-10">

    <div class="d-flex flex-row-center">
        <div class=" margen col-lg-12">
            <div class="row">
                <div class="col-5 d-flex justify-content-center">
                    <label for="producto" class="text-center"><strong>Receta:
                        </strong></label>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <label for="producto" class="text-center"><strong>PRODUCCIÓN</strong></label>
                </div>

            </div>

            <form (submit)="agregarReceta()">
                <div class="row">
                    <div class="form-group col-5">
                        <div class="d-flex justify-content-center">
                            <input type="text" class="form-control disabled-input" id="producto" name="producto"
                                [value]="recetaEditar.producto" disabled>
                        </div>
                    </div>
                    <div class="col-6 ">
                        <div class="row">
                            <!-- Campo Cantidad -->
                            <div class="form-group col-6">
                                <input type="number" class="form-control" id="cantidad" name="cantidad"
                                    [(ngModel)]="recetaEditar.produccion.cantidad" required placeholder="Cantidad"
                                    appPlaceholderFocus #cantidadNgModel="ngModel">

                                <!-- Mostrar mensaje de error si el campo es inválido -->
                                <div *ngIf="cantidadNgModel?.invalid && (cantidadNgModel?.dirty || cantidadNgModel?.touched)"
                                    class="text-danger">
                                    La cantidad es requerida.
                                </div>
                            </div>
                            <!-- Campo Unidad de Medida -->
                            <div class="form-group col-5">
                                <input type="text" class="form-control" id="unidadMedida" name="unidadMedida"
                                    [(ngModel)]="recetaEditar.produccion.unidadMedida" placeholder="Unidad de medida" appPlaceholderFocus
                                    required #unidadMedidaNgModel="ngModel">
                                <!-- Mostrar mensaje de error si el campo es inválido -->
                                <div *ngIf="unidadMedidaNgModel?.invalid && (unidadMedidaNgModel?.dirty || unidadMedidaNgModel?.touched)"
                                    class="text-danger">
                                    La unidad de medida es requerida.
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-agregar-ingrediente-receta
                        (ingredientesEnRecetaSend)="onIngredientesSeleccionados($event)"
                        [opcionBuscarIngredientes]="botonAgregarIngrediente"
                        [ingredientesEnReceta]="ingredientesEnReceta"></app-agregar-ingrediente-receta>

                </div>
                <div class="margen-botones mt-5 mb-3">
                    <button type="submit" class="btn btn-primary btn-custom-large mx-2">Agregar</button>
                    <button type="submit" class="btn btn-danger btn-custom-large mx-2" (click)="cancelar()">
                        Cancelar
                    </button>
                </div>
            </form>

        </div>

    </div>

    <!-- Modal -->
    <div class="modal" [ngClass]="{'modal-visible': showModal}" tabindex="-1" role="dialog"
        aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">{{ modalTitle }}</div>
                    <button class="close btn btn-danger" (click)="closeModal()">&times;</button>
                </div>
                <div class="modal-body">
                    {{ modalContent }}
                </div>
            </div>
        </div>
    </div>

</div>