.principal {
    margin-top: 5%;
    margin-left: 10%;
    background-color: rgba(13, 15, 32, 0.65);
    border: 5px solid #ccc;
    border-radius: 50px;
    color: rgb(185, 193, 191);
}

.margen {
    margin-left: 20%;
}

label {
    font-size: 157%;
}

.label {
    font-size: 157%;
}

.buscador {
    margin-bottom: 1%;
    margin-left: 1%;
}

/* Estilos personalizados para un botón más grande */
.btn-custom-large {
    font-size: 1.1rem;
    /* 1.4 veces el tamaño de la fuente base (rem) */
    padding: 0.5rem 0.7rem;
    /* 1 rem de padding vertical y 2 rem de padding horizontal */
}

/*---- MODAL INGRESO Y EMPLEADOR ----*/
.modal-eleccion {
    display: none;
}

.modal-visible {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 112, 112, 0.78);
    top: 0;
    left: 0;
    z-index: 3;
}

.modal-title {
    color: black;
}

.modal-body {
    color: black;
}

.text-danger {
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.ingrediente-agregado {
    background-color: rgb(234, 239, 239);
    color: black;
}

/* Estilo para el fondo del encabezado */
.encabezado-fila {
    background-color: #a6c2ed;
    /* Puedes cambiar este color según tus preferencias */
}

/* Estilo para la tabla */
.table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 18px;
}

/* Estilo para todas las celdas */
.table th,
.table td {
    border: 1px solid #ddd;
    /* Puedes cambiar este color según tus preferencias */
    padding: 8px;
    text-align: left;

}

/* Estilo para el fondo del encabezado */
.encabezado-fila {
    background-color: #f2f2f2;
    /* Puedes cambiar este color según tus preferencias */
}

.custom-btn {
    height: 90%;
}