/*---- MODAL INGRESO Y EMPLEADOR ----*/
.modal-eleccion {
    display: none;
}

.modal-visible {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 112, 112, 0.78);
    top: 0;
    left: 0;
    z-index: 3;
}

.modal-dialog2 {
    text-align: center;
    width: 450px;
    display: inline-block;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #FFFFFF;
    position: relative;
    height: 450px;
}

.modal-title2 {
    font-size: 25px;
}