.principal {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    border: 5px solid #ccc;
    border-radius: 30px;
    background-color: rgba(13, 15, 32, 0.65);
}

.buscador {

    margin-bottom: 1%;
    margin-left: 1%;
    padding-top: 0.5%;
}

.agregarReceta {
    margin-left: 60%;
}

.seleccionado {
    background-color: rgba(255, 255, 0, 0.345);
    font-weight: bold;
}

.modal-visible {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 112, 112, 0.78);
    top: 0;
    left: 0;
    z-index: 3;
}

tbody {
    background-color: rgb(142, 144, 158);
}

.no-hay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3f083;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 159%;
}