<app-navbar></app-navbar>

<div class="row mt-5">
    <div class="col-lg-6 offset-lg-6">
        <button class="btn btn-secondary btn-lg btn-block mt-2" (click)="agregar()">INGREDIENTES
            <img src="../../../assets/icons-principal.png" alt="Icono">
        </button>
    </div>
    <div class="col-lg-6 offset-lg-6 mt-2">
        <button class="btn btn-secondary btn-lg btn-block mt-2">
            RECETAS <img src="../../../assets/icons-receta.png" alt="Icono">
        </button>
    </div>
    <div class="col-lg-6 offset-lg-6 mt-2">
        <button class="btn btn-secondary btn-lg btn-block mt-2">
            PRESUPUESTO<img src="../../../assets/icons-presupuesto.png" alt="Icono">
        </button>
    </div>
</div>