<app-navbar></app-navbar>
<div class="principal col-10">

    <div class="d-flex flex-row-center">
        <div class=" margen col-lg-8">
            <form (submit)="agregarIngrediente()">

                <div class="form-group col-8">
                    <div class="d-flex justify-content-center">
                        <label for="nombre" class="text-center"><strong>Nombre:</strong></label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="text" class="form-control" id=" nombre" name="nombre"
                            placeholder="Ingrese nombre del ingrediente..." [(ngModel)]="nombre" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-4">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="cantidad"
                            required placeholder="0" appPlaceholderFocus>
                    </div>
                    <div class="form-group col-5">
                        <label for="unidadMedida">Unidad de Medida:</label>
                        <select class="form-control" id="unidadMedida" name="unidadMedida" [(ngModel)]="unidadMedida"
                            appPlaceholderFocus required #unidadMedidaNgModel="ngModel">
                            <option *ngFor="let medida of unidadMedidaExistentes" [value]="medida">{{ medida }}
                            </option>
                        </select>
                        <!-- Mostrar mensaje de error si el campo es inválido -->
                        <div *ngIf="unidadMedidaNgModel?.invalid && (unidadMedidaNgModel?.dirty || unidadMedidaNgModel?.touched)"
                            class="text-danger">
                            La unidad de medida es requerida.
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label for=" precio">Precio:</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input class="form-control" placeholder="0" id="precio" name="precio" [(ngModel)]="precio"
                                required placeholder="0" appPlaceholderFocus>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label for="comentario">Comentario:</label>
                    <textarea class="form-control" id="comentario" name="comentario"
                        [(ngModel)]="comentario"></textarea>
                </div>-->
                <div class="d-flex justify-content-end mt-3 mb-3">
                    <button type="submit" class="btn btn-primary btn-custom-large mx-2">Agregar Ingrediente</button>
                    <button type="submit" class="btn btn-danger btn-custom-large mx-2" (click)="cancelar()">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>

    </div>
    <!-- Contenido específico del modal -->
    <app-modal-general [title]="modalTitle" [show]="showModal">

        <p class="modal-content">{{ modalContent }}</p>
        <div modal-footer>
            <button class="btn btn-danger mx-2" (click)="closeModal()">NO</button>
            <button class="btn btn-primary mx-2" (click)="confirmAction()">SI</button>
        </div>
    </app-modal-general>
    <app-toast [message]="mensajeToast" [show]="mostrarToastFlag" [type]="tipoToast"
        [progress]="progressToast"></app-toast>
</div>

<div class="modal" [ngClass]="{'modal-visible': modalExitoCrear }" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="../../../assets/icons-ok.png" alt="Icono" width="50" height="50">
                </div>
                <div class="modal-footer">
                    <p>Ingrediente {{ingrediente.nombre}} creado con exito!</p>
                </div>
            </div>
        </div>
    </div>
</div>