<app-navbar></app-navbar>
<div class="principal col-10">

    <div class="d-flex flex-row-center">
        <div class=" margen col-lg-8">
            <form (submit)="agregarIngrediente()">
                <div class="form-group col-10 ">
                    <label for="nombre"> <strong>Nombre:</strong> </label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="cantidad"
                        required>
                </div>
                <div class="form-group">
                    <label for="unidadMedida">Unidad de Medida:</label>
                    <input type="text" class="form-control" id="unidadMedida" name="unidadMedida"
                        [(ngModel)]="unidadMedida" required>
                </div>
                <div class="form-group">
                    <label for="precio">Precio:</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input class="form-control" placeholder="0" id="precio" name="precio" [(ngModel)]="precio"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comentario">Comentario:</label>
                    <textarea class="form-control" id="comentario" name="comentario"
                        [(ngModel)]="comentario"></textarea>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button type="submit" class="btn btn-primary">Agregar Ingrediente</button>
                </div>
            </form>
        </div>

    </div>
</div>